@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}